.title-header { 
     padding: 5px;
     text-align: center;
     background: #cc0000;
  }
  .title-header h1 {
     color:#fff;
     font-family: Anton;
  }
  .adh {     color: #00338C; }
  body {
     font-size:18px;
     font-family:Athiti, Pontano Sans;
  }
  aside {
    float: right;
    width: 33%;
    margin: 0;
    background: #00338C;
    border-left:#003366 2px solid;
    color:#fff;
    height: 1000px;
  }

  h2 { font-family:Anton; }
  article {
    height: 1000px;
    width:66%;
    float:left;
  }

  footer {
    width: 100%;
    font-size: 12px;
    text-align: center;    
  }
  .main-display, .charts-tips-more {
    padding: 0px 25px;
  }


/* **********************************
 * US Map CSS                       *
 * **********************************/

.state{
	fill: none;
	stroke: #a9a9a9;
	stroke-width: 1;
}
.state:hover{
	fill-opacity:0.5;
}

.map-legend {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,ffffee+0,800026+100,207cca+100 */
    position: absolute;
    top: 893px;
    right: 63px;
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(left,  #1e5799 0%, #ffffee 0%, #800026 100%, #207cca 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #1e5799 0%,#ffffee 0%,#800026 100%,#207cca 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #1e5799 0%,#ffffee 0%,#800026 100%,#207cca 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#207cca',GradientType=1 ); /* IE6-9 */
    width:500px;
}

.map-legend li {
    list-style-type: none;
    display: inline-block;
    width: 33%;
}

.map-legend li:nth-child(1) { color:#00338c;}
.map-legend li:nth-child(2) { text-align: center;}
.map-legend li:nth-child(3) { text-align: right; }

#statesvg {
    height: 900px;
    padding-bottom: 0px;
    margin-bottom: -150px;
  -moz-transform: scale(0.60, 0.60); 
  -webkit-transform: scale(0.60, 0.60); 
  -o-transform: scale(0.60, 0.60);
  -ms-transform: scale(0.60, 0.60);
  transform: scale(0.60, 0.60); 
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
}

.citation {    
    font-size: 13px;
    text-align: right;
    position: absolute;
    top: 820px;
    right: 63px;
    word-wrap: break-word;
    width: 250px;
}

.citation a { color: #cc0000!important; }

#tooltip {   
	position: absolute;           
	text-align: center;
	padding: 20px;             
	margin: 10px;
	font: 12px sans-serif;        
	background: lightsteelblue;   
	border: 1px;      
	border-radius: 2px;           
	pointer-events: none;  
        z-index:400;       
}
#tooltip h4{
	margin:0;
	font-size:14px;
}
#tooltip{
	background:rgba(0,0,0,0.9);
	border:1px solid grey;
	border-radius:5px;
	font-size:12px;
	width:auto;
	padding:4px;
	color:white;
	opacity:0;
}
#tooltip table{
	table-layout:fixed;
}
#tooltip tr td{
	padding:0;
	margin:0;
}
#tooltip tr td:nth-child(1){
	width:50px;
}
#tooltip tr td:nth-child(2){
	text-align:center;
}

/* *************************************
 * LINE GRAPH CSS 
 * *************************************/
#visualisation {
   margin-left: -100px;
}

.double-graph {
   height:350px;
   width:100%;
}

.double-graph .graph{
  display:inline-block;
  width:48%;
}

.container {
	text-align:center;
	padding:20px;
}
.legend span {
    display: block;
    padding: 2px;
}

.legend span:nth-child(1) i { color:deepskyblue; }
.legend span:nth-child(2) i { color:lightcoral; }
.legend span:nth-child(3) i { color:forestgreen; }
.legend span:nth-child(4) i { color:darkseagreen; }
.legend span:nth-child(5) i { color:goldenrod; }
.legend span:nth-child(6) i { color:darkorange; }
.legend span:nth-child(7) i { color:crimson; }
.legend span:nth-child(8) i { color:darkmagenta; }
.legend span:nth-child(9) i { color:indigo; }
.legend span:nth-child(10) i { color:red; }
.legend span:nth-child(11) i { color:black; }
.legend span:nth-child(12) i { color:darkgray; }


.legend {
    border: 1px #333 solid;
    background: rgba(200, 200, 200,.5);
    padding: 10px;
    font-size: 13px;
    top: 300px;
    right: 20px;
    position: absolute;
}

.axis path {
    fill: none;
    stroke: #fff;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: Pontano Sans;
    font-size: 13px;
    stroke:#fff;
}


@media screen and (max-width: 1500px) {
    article {
        float:none!important;
        width:100%!important;
    }
    
    aside {
        float: none!important;
        width: 100%!important;
        margin: 0;
        background: #00338C;
        border-left:#003366 2px solid;
        color:#fff;
        height: 1000px;
    }
    
    .us-map {
        text-align: center;
    }
    .map-legend {
        position: absolute;
        top: 1893px;
        right: 63px;
        width:500px;
    }
    .legend {
        top: 1250px;
        right: 75px;
    }
    
    
}
