.title-header { 
     padding: 5px;
     text-align: center;
     background: #cc0000;
  }
  .title-header h1 {
     color:#fff;
     font-family: Anton;
  }
  .adh {     color: #00338C; }
  body {
     font-size:18px;
     font-family:Athiti, Pontano Sans;
  }
  aside {
    float: right;
    width: 33%;
    margin: 0;
    background: #00338C;
    border-left:#003366 2px solid;
    color:#fff;
    height: 1000px;
  }

  h2 { font-family:Anton; }
  article {
    height: 1000px;
    width:66%;
    float:left;
  }

  footer {
    width: 100%;
    font-size: 12px;
    text-align: center;    
  }
  .main-display, .charts-tips-more {
    padding: 0px 25px;
  }

style>
.container {
	text-align:center;
	padding:20px;
}
.legend span {
    display: block;
    padding: 2px;
}

.legend span:nth-child(1) i { color:deepskyblue; }
.legend span:nth-child(2) i { color:blue; }
.legend span:nth-child(3) i { color:forestgreen; }
.legend span:nth-child(4) i { color:darkseagreen; }
.legend span:nth-child(5) i { color:goldenrod; }
.legend span:nth-child(6) i { color:darkorange; }
.legend span:nth-child(7) i { color:crimson; }
.legend span:nth-child(8) i { color:darkmagenta; }
.legend span:nth-child(9) i { color:indigo; }
.legend span:nth-child(10) i { color:light coral; }
.legend span:nth-child(11) i { color:black; }
.legend span:nth-child(12) i { color:darkgray; }


.legend {
    border: 1px #333 solid;
    background: rgba(200, 200, 200,.5);
    padding: 10px;
    font-size: 13px;
    top: 170px;
    right: 275px;
    position: absolute;
}

.axis path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: Pontano Sans;
    font-size: 13px;
}
